In [107]:
import pandas as pd
import numpy as np

In [108]:
sem1 = pd.read_csv('SEM1.csv' , delimiter = ',' , index_col = 'INDEX')
sem1

      SUB_CODE                                           SUB_NAME
INDEX
S1     15MAT11                                ENGINEERING MATHS 1
S2     15PHY12                                ENGINEERING PHYSICS
S3     15CIV13        ELEMENTS OF CIVIL ENGINEERING AND MECHANICS
S4     15CIV14                 ELEMENTS OF MECHANICAL ENGINEERING
S5     15ELE15                       BASIC ELECTRICAL ENGINEERING
S6     15CPH18  CONSTITUTION OF INDIA PROFESSIONAL ETHICS& HUM...
S7     15WSL16                                  WORKSHOP PRACTICE
S8     15PHL17                            ENGINEERING PHYSICS LAB

In [109]:
data = pd.read_csv('student.csv' , index_col = 'usn')
data

FileNotFoundError: [Errno 2] File b'student.csv' does not exist: b'student.csv'

In [ ]:
marks = np.array(data.loc['1MV16IS016'])

In [ ]:
marks

In [ ]:
sem1['Marks'] = marks

In [ ]:
sem1

In [62]:
print('Enter the sem')

Enter the sem

In [90]:
sem =input()

1

In [73]:
print('USN')
usn = input()

USN
1MV16IS016

In [89]:
f = 'SEM' +sem+'.csv'

In [65]:
data = pd.read_csv(sem)

In [72]:
print('Enter the marks of student')
marks = []
for subject in data.SUB_CODE:
    print(subject)
    marks.append(input())

Enter the marks of student
15MAT11
12
15PHY12
14
15CIV13
14
15CIV14
15
15ELE15
15
15CPH18
16
15WSL16
12
15PHL17
14

In [83]:
data = pd.read_csv('SEM8.csv' , index_col ='INDEX')
data['Marks'] = np.array(marks)

In [84]:
data

      SUB_CODE                             SUB_NAME Marks
INDEX
S1      15CS81  Internet of things and applications    12
S2      15CS82                   Big Data Analytics    14
S3     15CS831           High Performance Computing    14
S4     15CS832                User Interface Design    15
S5     15IS833                      Virtual Reality    15
S6     15CS834       System Simulation and Modeling    16
S7      15IS84   Internship / Professional Practice    12
S8     15ISS86                              Seminar    14

In [111]:
RECORD = input('Is is correct Y/N\n')

Is is correct Y/N
Y

In [119]:
marks = ['1MV16IS016',
 12,
 13,
 14,13,34,45,67,8]

In [129]:
file_name = 'student' +sem+'.csv'
data = pd.read_csv(file_name)
data

Empty DataFrame
Columns: [usn, s1, s2, s3, s4, s5, s6, s7, s8]
Index: []

In [168]:
dictt = {'usn':[marks[0]], 's1':[marks[1], ], 's2':[marks[2],],  's3':[marks[3] , ], 's4':[marks[4],],  's5':[marks[5],],
                        's6':[marks[6],], 's7':[marks[7],], 's8':[marks[8],] ,'Total':[marks[-1] ,]}

In [169]:
new_data = pd.DataFrame.from_dict(dictt)

In [170]:
new_data

          usn  s1  s2  s3  s4  s5  s6  s7  s8  Total
0  1MV16IS016  12  13  14  13  34  45  67   8      8

In [171]:
data = data.append(new_data)

/home/iavinas/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [172]:
data.to_csv(file_name , index=False )

In [173]:
file_name

'student1.csv'

In [162]:
!ls

main.ipynb  SEM3.csv  SEM6.csv	student1.csv  student4.csv  student7.csv
SEM1.csv    SEM4.csv  SEM7.csv	student2.csv  student5.csv  student8.csv
SEM2.csv    SEM5.csv  SEM8.csv	student3.csv  student6.csv

In [163]:
pd.read_csv(file_name)

Empty DataFrame
Columns: [usn, s1, s2, s3, s4, s5, s6, s7, s8]
Index: []

In [166]:
data

          usn  s1  s2  s3  s4  s5  s6  s7 s8
0  1MV16IS016  12  13  14  13  34  45  67  8